---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import '../styles/pilotos.css';

---

<Layout title="F1 Time 🏎️">
    <div class="title-container">
        <h1>Pilotos</h1>
    </div>
    <div class="buttons-container">
        <a href="/circuitos" class="menu-button">Circuitos</a>
        <a href="/pilotos" class="menu-button">Pilotos</a>
        <a href="/escuderias" class="menu-button">Escuderías</a>
        <a href="/puntos" class="menu-button">Puntos</a>
    </div>
    <main>
        <!-- Aquí puedes agregar el contenido de la página de pilotos -->
        <p>Contenido de la página de pilotos...</p>
    </main>
</Layout>