<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>F1 Time</title>
    </head>
    <body class="min-h-screen flex flex-col items-center justify-center bg-gray-900 text-white">
        <div class="w-full">
            <slot />
        </div>
    </body>
</html>

<style is:global>
    html, body {
        margin: 0;
        padding: 0;
        font-family: system-ui, sans-serif;
        background: #13151a;
        color: #fff;
        box-sizing: border-box;
    }

    *, *::before, *::after {
        box-sizing: inherit;
    }

    a {
        text-decoration: none;
    }
</style>